* {
    margin: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

body { 
    margin: 0px; 
    padding: 0px; 
    min-height: 100vh; 
    display: flex; 
    flex-direction: column; 
    background-color: white; 
    position: relative; 
} 
  
nav { 
    background-color: #0B2D59; 
    width: 100%; 
    display: flex; 
    justify-content: flex-end; 
    align-items: center; 
} 
  
ul { 
    height: 70px; 
    margin-top: 0px; 
    margin-bottom: 0px; 
    margin-right: 20px; 
    display: flex; 
    flex-direction: row; 
    gap: 20px; 
    justify-content: flex-end; 
    align-items: center; 
} 
  
li { 
    list-style-type: none; 
} 
  
li > a { 
    color: white; 
    font-size: .8em; 
    font-family: 'Josefin Sans', sans-serif; 
    text-decoration: none; 
} 

li > a:hover { 
    color: #8C593B; 
} 
  
main { 
    height: 100%; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}

header {
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

h1 {
    font-family: 'Nunito', sans-serif;
    text-align: center;
}

header > p {
    font-family: 'Manrope', sans-serif;
    font-size: 0.9;
    text-align: center;
    letter-spacing: 1px;
    width: 90%;
}

article { 
    padding: 16px;
    margin: 0px 0px 24px 0px;
    height: 66vh; 
    box-shadow: 11px 15px 16px 1px #a3a3a314;
    width: 80%;
    display: flex; 
    flex-direction: column; 
 } 
  
section { 
    font-family: 'Manrope', sans-serif;
    height: 90%; 
    width: 80%;
    display: flex; 
    flex-direction: column; 
    justify-content: space-evenly; 
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.4em;
    width: 100%;
}

a {
    color: #0B2D59;
    text-decoration: none;
    text-align: center;
    background-color: #BF9821;
    padding: 8px;
    border-radius: 10px;
    width: 50%;
}

img {
    width: 100%;
}

footer { 
    background-color: #011F26; 
    height: 80px;
    width: 100%; 
    position: absolute; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 0; 
 } 
  
footer > p { 
    font-size: 0.7em; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    color: #A5A692; 
    text-align: center; 
}

@media (min-width: 700px) and (max-width: 992px) {
    header {
        height: 30vh;
    }
    article {
      height: 90vh;
      width: 70%;
    }

    section {
        height: 30%;
    }

    a {
        width: 30%;
    }

    img {
        width: 90%;
    }
    
}

@media (min-width: 993px) and (max-width: 1200px) {
    header {
        height: 30vh;
    }

    header > p {
        width: 50%;
    }

    article {
      height: 90vh;
      width: 70%;
    }
    
    section {
        height: 30%;
    }
    
    a {
        width: 30%;
    }

    img {
        width: 80%;
    }
} 

@media (min-width: 1200px) {
    header {
        height: 30vh;
    }

    header > p {
        width: 30%;
    }

    article {
      height: 100vh;
      width: 70%;
    }
    
    section {
        height: 20%;
        width: 70%;
    }
    
    a {
        width: 16%;
    }

    img {
        width: 80%;
    }

    .reduzir {
        height: 80%;
        width: 50%;
    }
} 
  