* {
    margin: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

body { 
    margin: 0px; 
    padding: 0px; 
    min-height: 100vh; 
    display: flex; 
    flex-direction: column; 
    background-color: white; 
    position: relative; 
} 
  
nav { 
    background-color: #0B2D59; 
    width: 100%; 
    display: flex; 
    justify-content: flex-end; 
    align-items: center; 
} 
  
ul { 
    height: 70px; 
    margin-top: 0px; 
    margin-bottom: 0px; 
    margin-right: 20px; 
    display: flex; 
    flex-direction: row; 
    gap: 20px; 
    justify-content: flex-end; 
    align-items: center; 
} 
  
li { 
    list-style-type: none; 
} 
  
li > a { 
    color: white; 
    font-size: .8em; 
    font-family: 'Josefin Sans', sans-serif; 
    text-decoration: none; 
} 

li > a:hover { 
    color: #8C593B; 
} 
  
main { 
    height: 100%; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}

header {
    height: 40vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

h1 {
    font-family: 'Nunito', sans-serif;
    text-align: center;
}

header > p {
    font-family: 'Manrope', sans-serif;
    font-size: 0.9;
    text-align: center;
    letter-spacing: 1px;
    width: 90%;
}

article { 
    margin: 0px 0px 24px 0px;
    height: 56vh; 
    width: 80%;
    display: flex; 
    flex-direction: column; 
 } 
  
section { 
    font-family: 'Manrope', sans-serif;
    height: 126px; 
    width: 80%;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
}

a {
    color: black;
    text-decoration: none;
}

img {
    width: 100%;
}

footer { 
    background-color: #011F26; 
    height: 80px;
    width: 100%; 
    position: absolute; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 0; 
 } 
  
footer > p { 
    font-size: 0.7em; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    color: #A5A692; 
    text-align: center; 
 }